<header id="head">
    <h2> {{title}} </h2>

    <!-- 
        toggleFormAndBtn method is used to toggle form display and 
        toggle button text as we need through something that is called 
        subject. Subject is something used when an event causes updates 
        at more than one copponent
    -->

    <app-button 
    text="{{ addBtnClicked? 'Close' : 'Add'}}" 
    bg_color="{{addBtnClicked? 'red' : 'black'}}"
    color="#ffffff" (btnClick)="toggleFormAndBtn()"></app-button>
</header>
